<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylecli.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
  <script>
  {% if mensaje != None %}
  alert("{{ mensaje }}");
  {% endif %}
  </script>

    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-shopping-bags' ></i>
            <span class="logo_name">TiendaGenerica</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{%url "productos"%}" >
                    <i class='bx bx-cart'></i>
                    <span class="link_name">Productos</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{%url "productos"%}" >Productos</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url "clientes" %}">
                    <i class='bx bxs-group' ></i>
                    <span class="link_name">Clientes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url "clientes" %}">Clientes</a></li>
                </ul>
            </li>
            <li>
                <li>
                    <a href="{% url 'proveedores' %}">
                        <i class='bx bx-store-alt'></i>
                        <span class="link_name">Proveedores</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'proveedores' %}">Proveedores</a></li>
                    </ul>
            </li>
            <li>
                <a href="{% url 'ventas' %}">
                    <i class='bx bxs-book' ></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'ventas' %}">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="{%url 'reportes'%}">
                    <i class='bx bxs-book-content' ></i>
                    <span class="link_name">Reportes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{%url 'reportes'%}">Reportes</a></li>
                </ul>
            </li>
            <li>
	      <a href="{% url "consolidado" %}">
                    <i class='bx bx-world' ></i>
                    <span class="link_name">Consolidacion</span>
                </a>
                <ul class="sub-menu blank">
		  <li><a class="link_name" href="{% url "consolidado" %}">Consolidacion</a></li>
                </ul>
            </li>
            <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="/static/img/avatar.svg" alt="profile">
            </div>
            <div class="name-job">
                <div class="profile_name">AdminInicial</div>
                <div class="job">Developer</div>
            </div>
            <i class='bx bxs-log-out' ></i>
        </div>
    </li>
</ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu-alt-left' ></i>
            <span class="text">Menu</span>
        </div>
            <form method="POST">
              {% csrf_token %}
                <div class="contenedor">
                    <div id="reclientes" class="ctns">
                        <table>
                          {% if data == None %}
                            <tr>
                                <td>
                                    <label for="document">Cédula</label>
                                    <input type="text" id="document" name="cedula_cliente" />
                                </td>
                                <td>
                                    <label for="phone">Teléfono</label>
                                    <input type="text" id="phone" name="telefono_cliente" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="name">Nombre Completo</label>
                                    <input type="text" id="name" name="nombre_cliente" />
                                </td>
                                <td>
                                    <label for="mail">Correo Electrónico</label>
                                    <input type="email" id="mail" name="email_cliente" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="address">Dirección</label>
                                    <input type="text" id="address" name="direccion_cliente"/>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    <label for="document">Cédula</label>
                                    <input type="text" id="document" name="cedula_cliente" value = "{{ data.cedula }}" />
                                </td>
                                <td>
                                    <label for="phone">Teléfono</label>
                                    <input type="text" id="phone" name="telefono_cliente" value = "{{ data.telefono }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="name">Nombre Completo</label>
                                    <input type="text" id="name" name="nombre_cliente" value = "{{ data.nombre }}"/>
                                </td>
                                <td>
                                    <label for="mail">Correo Electrónico</label>
                                    <input type="email" id="mail" name="email_cliente" value = "{{ data.email }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="address">Dirección</label>
                                    <input type="text" id="address" name="direccion_cliente" value = "{{ data.direccion }}"/>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    <table class="btnoo">
                            <tr class="botoness">
                                <div class=btnoo>
                                    <td><input type="submit" name="boton" value="Consultar" formaction="{% url "consultar" %}"/></td>
                                    <td><input type="submit" name="boton" value="Crear" formaction="{% url "crear" %}"/></td>
                                    <td><input type="submit" name="boton" value="Actualizar" formaction="{% url "actualizar" %}"/></td>
                                    <td><input type="submit" name="boton" value="Borrar" formaction="{% url "borrar" %}"/></td>
                                    <td><input onclick="limpiar()" type="submit" value="Limpiar"></input></td>
                                        <script>
                                        function limpiar() {
                                            document.getElementById("cedula_cliente").value = "";
                                            document.getElementById("telefono_cliente").value = "";
                                            document.getElementById("nombre_cliente").value = "";
                                            document.getElementById("email_cliente").value = "";
                                            document.getElementById("direccion_cliente").value = "";
                                        }</script>
                                    </td>
                                </div>
                            </tr>
                    </table>
                </div>
            </form>
    </section>
    <script>
        let arrow =document.querySelectorAll(".arrow");
        for(var i=0; i<arrow.length; i++){
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
            arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar =document.querySelector(".sidebar");
        let sidebarBtn =document.querySelector(".bx-menu-alt-left");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>
