 {% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styleventa.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-shopping-bags' ></i>
            <span class="logo_name">TiendaGenerica</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{%url "productos"%}" >
                    <i class='bx bx-cart'></i>
                    <span class="link_name">Productos</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{%url "productos"%}" >Productos</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url "clientes" %}">
                    <i class='bx bxs-group' ></i>
                    <span class="link_name">Clientes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url "clientes" %}">Clientes</a></li>
                </ul>
            </li>
            <li>
                <li>
                    <a href="{% url 'proveedores' %}">
                        <i class='bx bx-store-alt'></i>
                        <span class="link_name">Proveedores</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'proveedores' %}">Proveedores</a></li>
                    </ul>
            </li>
            <li>
                <a href="{% url 'ventas' %}">
                    <i class='bx bxs-book' ></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'ventas' %}">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="{%url 'reportes'%}">
                    <i class='bx bxs-book-content' ></i>
                    <span class="link_name">Reportes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{%url 'reportes'%}">Reportes</a></li>
                </ul>
            </li>
            <li>
	      <a href="{% url "consolidado" %}">
                    <i class='bx bx-world' ></i>
                    <span class="link_name">Consolidacion</span>
                </a>
                <ul class="sub-menu blank">
		  <li><a class="link_name" href="{%url "consolidado" %}">Consolidacion</a></li>
                </ul>
            </li>
            <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="/static/img/avatar.svg" alt="profile">
            </div>
            <div class="name-job">
                <div class="profile_name">AdminInicial</div>
                <div class="job">Developer</div>
            </div>
            <i class='bx bxs-log-out' ></i>
        </div>
    </li>
</ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu-alt-left' ></i>
            <span class="text">Menu</span>
        </div>
        <form method = 'POST'>
          {% csrf_token %}
        <div class="ctnvent">
          <script>
          {% if exito == True %}
          alert("La venta fue registrada con exito");
          {% endif %}
          </script>
                        <!--tercera Fila-->
              {% if condicional == "todovacio" %}
	      <table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

              <script>
                alert("{{ mensaje }}")

              </script>
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" ></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" ></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" ></td>
                  </tr>
              </table>
              {% elif condicional == "lleno3" %}
	    <table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
                        <input class="caja" type="text" name="consec" value="{{ numero }}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
		  {% with precio_venta=data3.precio_venta|mul:cantidad3 iva=data3.precio_venta|mul:cantidad3|mul:0.19  %}
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3" value="{{data3.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3" value= "{{data3.nombre_producto}}"></td>
		    <td><input type="number" min="1" max="9" step="1" value="{{ cantidad3 }}" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"value="{{data3.precio_venta|mul:cantidad3}}"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ iva }}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>

                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta|add:iva }}"></td>
                  </tr>
              </table>
	      {% endwith %}
              {% elif condicional == "lleno1" %}
	      <table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    {% with precio_venta=data1.precio_venta|mul:cantidad1 iva=data1.precio_venta|mul:cantidad1|mul:0.19  %}
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto" value="{{data1.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto" value= "{{data1.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad1}}" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"value="{{precio_venta}}"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{iva}}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta|add:iva }}"></td>
                  </tr>
              </table>
              {%endwith%}
                {% elif condicional == "lleno2" %}
		<table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>

                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    {% with precio_venta=data2.precio_venta|mul:cantidad2 iva=data2.precio_venta|mul:cantidad2|mul:0.19  %}
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"value="{{data2.codigo_producto}}"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"value="{{data2.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad2}}" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"value="{{precio_venta}}"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{precio_venta }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ iva }}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{precio_venta|add:iva}}"></td>
                  </tr>
              </table>
	      {% endwith %}
                {% elif condicional == "vacio1" %}
		<table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    {% with precio_venta2=data2.precio_venta|mul:cantidad2 precio_venta3=data3.precio_venta|mul:cantidad3 %}
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2" value="{{data2.codigo_producto}}"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2" value="{{data2.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad2}}" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2" value="{{precio_venta2}}"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3" value="{{data3.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3" value="{{data3.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad3}}" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3" value="{{precio_venta3}}"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta2|add:precio_venta3}}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ precio_venta2|add:precio_venta3|mul:0.19 }}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                        {%with iva=precio_venta2|add:precio_venta3|mul:0.19%}
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta2|add:precio_venta3|add:iva}}"></td>
                      {%endwith%}
                      {%endwith%}
                  </tr>
              </table>
              {% elif condicional == "vacio2" %}
	      <table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    {% with precio_venta1=data1.precio_venta|mul:cantidad1 precio_venta3=data3.precio_venta|mul:cantidad3 %}
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto" value="{{data1.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto" value="{{data1.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad1}}" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1" value="{{precio_venta1}}"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3" value="{{data3.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3" value="{{data3.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad3}}" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3" value="{{precio_venta3}}"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta1|add:precio_venta3 }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ precio_venta1|add:precio_venta3|mul:0.19 }}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                        {%with iva=precio_venta1|add:precio_venta3|mul:0.19%}
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta1|add:precio_venta3|add:iva}}"></td>
                  {%endwith%}
                  {%endwith%}
                    </tr>
              </table>
              {% elif condicional == "vacio3" %}
	      <table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    {% with precio_venta1=data1.precio_venta|mul:cantidad1 precio_venta2=data2.precio_venta|mul:cantidad2 %}
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto" value= "{{data1.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto" value="{{data1.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad1}}" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1" value="{{precio_venta1}}"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2" value="{{data2.codigo_producto}}"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2" value="{{data2.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad2}}" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2" value="{{precio_venta2}}"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta1|add:precio_venta2 }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ precio_venta1|add:precio_venta2|mul:0.19 }}"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                        {%with iva=precio_venta1|add:precio_venta2|mul:0.19%}
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta1|add:precio_venta2|add:iva }}"></td>
                  {%endwith%}
                  {%endwith%}
                    </tr>
              </table>
                {% elif condicional == "todosllenos" %}
		<table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                {% with precio_venta1=data1.precio_venta|mul:cantidad1 precio_venta2=data2.precio_venta|mul:cantidad2 precio_venta3=data3.precio_venta|mul:cantidad3 %}
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto" value= "{{data1.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto" value="{{data1.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad1}}" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1" value="{{ precio_venta1 }}"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2" value="{{data2.codigo_producto}}"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2" value="{{data2.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad2}}" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2" value="{{precio_venta2}}"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3" value="{{data3.codigo_producto}}"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3" value="{{data3.nombre_producto}}"></td>
                    <td><input type="number" min="1" max="9" step="1" value="{{cantidad3}}" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3" value= "{{precio_venta3}}"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta" value = "{{ precio_venta1|add:precio_venta2|add:precio_venta3 }}"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa" value = "{{ precio_venta1|add:precio_venta2|add:precio_venta3|mul:0.19 }}"></td>
                  </tr>
                  <tr>
                    {% with iva=precio_venta1|add:precio_venta2|add:precio_venta3|mul:0.19 %}
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" value = "{{ precio_venta1|add:precio_venta2|add:precio_venta3|add:iva }}"></td>
                  </tr>
                  {% endwith %}
                  {% endwith %}

              </table>
                {% elif condicional == None %}
		<table id="ventas-a">
              {% if Cliente != None %}
                <tr class="primera">
                    <td>
                        <label class= "textos2" for="cedula">Cedula</label>
                        <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                    </td>
                    <div class="pos">
                        <td class="botonessv"><input type="button"  name="boton" value="Consultar" formaction="{% url "consultarTodo" %}"/></td>
                    </div>
                    <td>
                        <label class= "textos2" for="name">Cliente</label>
                        <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                    </td>
                  {% elif Cliente == None %}
                  <tr class="primera">
                      <td>
                          <label class= "textos2" for="cedula">Cedula</label>
                          <input class="caja" type="text" id="cedula" name="cedula_cliente" value = "{{ Cliente.cedula }}">
                      </td>
                      <div class="pos">
                          <td class="botonessv"><input type="submit"  name="boton" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                      </div>
                      <td>
                          <label class= "textos2" for="name">Cliente</label>
                          <input class="caja" type="text" id="name" name="nombre_cliente" value = "{{ Cliente.nombre }}">
                      </td>
                      {% endif %}
                    <td>
                        <label class= "textos2" for="name">Consec</label>
			<input class="caja" type="text" name="consec" value="{{numero}}">
                    </td>
                </tr>
            </table>
            <table id="ventas-b" class="tabla">
                <tr class="segunda">
                    <td class="c_producto"><label  class= "textos" for="code_producto">Cod.Producto</label></td>
                    <td class="n_producto"><label class= "textos" for="n_producto">Nombre Producto</label></td>
                    <td class="cantidads"><label class= "textos" for="cantidad">Cantidad</label></td>
                    <td class="v_totals"><label class= "textos" for="total">Vrl.Total</label></td>
                </tr>
            <!--tercera Fila-->

                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td ><input class="caja" type="text" id="n_producto" name="nombre_producto"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad1"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta1"></td>
                </tr>
                <!--cuarta Fila-->
                <tr class="segunda">
                    <td><input  class="caja" type="text" id="code_producto" name="codigo_producto2"></td>
                    <td  class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto2"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad2"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta2"></td>
                </tr>
                <!--quinta Fila-->
                <tr class="segunda">
                    <td><input class="caja" type="text" id="code_producto" name="codigo_producto3"></td>
                    <td class="botonessv"><input type="submit" value="Consultar" formaction = "{% url "consultarTodo" %}"/></td>
                    <td><input class="caja" type="text" id="n_producto" name="nombre_producto3"></td>
                    <td><input type="number" min="1" max="9" step="1" value="1" id="cantidad" name="cantidad3"></td>
                    <td class="v_total"><input class="caja" type="text" id="total" name="total_venta3"></td>
                </tr>
              </table>
              <table id="ventas-c" class="tabla2">
                  <tr>
                      <td><label  class= "textos" for="total_ventas">Total Ventas </label>
                      <input class="caja" type="text" id="total_ventas" name="total_venta"></td>
                  </tr>
                  <tr>
                      <td class="espaciostd"><label class= "textos" for="total_iva">Total IVA</label>
                      <input class="caja" type="text" id="total_iva" name="ivaventa"></td>
                  </tr>
                  <tr>
                      <td><label class= "textos" for="ventamasIva">Total con IVA</label>
                      <input class="caja" type="text" id="ventamasIva" name="valor_venta" ></td>
                  </tr>
              </table>
            {% endif %}
	     <table id="ventas-d" class="tabla3">
                  <tr>
		    <td  class="botonessv"><input type="submit" value="Confirmar" formaction="{% url "subirVenta" %}"/></td>
              </tr>
              </table>


        </div>
      </form>
    </section>
    <script>
        let arrow =document.querySelectorAll(".arrow");
        for(var i=0; i<arrow.length; i++){
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
            arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar =document.querySelector(".sidebar");
        let sidebarBtn =document.querySelector(".bx-menu-alt-left");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });

    </script>
</body>
</html>
